%article.PostedItem
  .ArticleHeader
    %ul.More
      %li 
        = icon('fas', 'bars')
        %ul
          %li
            = link_to '詳細', tweet_path(tweet.id), method: :get
          - if user_signed_in? && current_user.id == tweet.user_id
            %li
              = link_to '編集', edit_tweet_path(tweet.id), method: :get
            %li
              = link_to '削除', tweet_path(tweet.id), method: :delete
          
  .Picture
    .content_post{style: "background-image: url(#{tweet.image})"}
  .ReactionBtn
    = icon('fas', 'star', class: 'ReactionBtn__good')
    - tweet.tags.each do |tag|
      = tag.tag_name
  %h3
    -# いいね件数: #{@tweet.likes.count}
  - if current_user.already_liked?(tweet)
    = button_to 'いいねを取り消す', tweet_like_path(tweet), method: :delete
  - else
    = button_to 'いいね', tweet_likes_path(tweet)
  %h2 いいねしたユーザー
  - tweet.liked_users.each do |user|
    %li= user.email
  = link_to "ホームへ戻る", tweets_path

