%article.PostedItem
  .ArticleHeader
    %h2
      @
      = tweet.user.nickname 
    %ul.More
      %li 
        = icon('fas', 'bars')
        %ul
          %li
            = link_to '詳細', tweet_path(tweet.id), method: :get
          - if user_signed_in? && current_user.id == tweet.user_id
            %li
              = link_to '編集', edit_tweet_path(tweet.id), method: :get
            %li
              = link_to '削除', tweet_path(tweet.id), method: :delete
  .Picture
    .content_post{style: "background-image: url(#{tweet.image})"}
  .Details 
    = tweet.text
    - tweet.tags.each do |tag|
      %span #
      = tag.tag_name 
