%main.IndexShow
  %section.TweetField
    %article.PostedItem
      .ArticleHeader
        %h2
          @
          = link_to @tweet.user.nickname, "/users/#{@tweet.user_id}"
        %ul.More
          %li 
            = icon('fas', 'bars')
            %ul
              %li
                = link_to '詳細', tweet_path(@tweet.id), method: :get
              - if user_signed_in? && current_user.id == @tweet.user_id
                %li
                  = link_to '編集', edit_tweet_path(@tweet.id), method: :get
                %li
                  = link_to '削除', tweet_path(@tweet.id), method: :delete
      .Picture
        .content_post{style: "background-image: url(#{@tweet.image})"}
      
      .Details 
        = @tweet.text
        - @tweet.tags.each do |tag|
          %span #
          = tag.tag_name
    .Comments
      .Addcomment
        - if current_user
          .commentblock
            = form_with(model: [@tweet, @comment], local: true, id: "new_comment") do |form|
              = form.text_area :text, placeholder: "コメントを追加", rows: "2", class: "textbox"
              = form.submit "SEND", class: "commentSubmit"
        - else
          %strong
            %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
      .ReplyArea
        .CommentDisplay
          - if @comments
            - @comments.each do |comment|
              .CommentDisplay--individual
                %span
                  %strong
                    @
                    = link_to comment.user.nickname, "/users/#{comment.user_id}"
                    ：
                = comment.text
                
