%main.Index
  %section.TweetField
    %article.PostedItem
      .ArticleHeader
        - if user_signed_in? && current_user.id == @tweet.user_id
          %ul.More
            %li 
              = link_to "#", class: "More" do
                = icon('fas', 'bars')
              %ul
                %li
                  = link_to '編集', edit_tweet_path(@tweet.id), method: :get
                %li
                  = link_to '削除', tweet_path(@tweet.id), method: :delete
                
      .Picture
        .content_post{style: "background-image: url(#{@tweet.image})"}
      .ReactionBtn
        = icon('fas', 'star', class: 'ReactionBtn__good')
      .Details 
        = @tweet.user.nickname
        %span<>:
        = @tweet.text
      .Comments
        .Comments__reply
          - if @comments
            - @comments.each do |comment|
              .Comments__reply--individual
                %span
                  %strong
                    = link_to comment.user.nickname, "/users/#{comment.user_id}"
                    
                = comment.text
        .Addcomment
          - if current_user
            .commentblock
              = form_with(model: [@tweet, @comment], local: true, id: "new_comment") do |form|
                = form.text_area :text, placeholder: "コメントする", rows: "2"
                = form.submit "SEND"
          - else
            %strong
              %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※              

