%main.IndexLike
  %h1 
    = @nickname
    の投稿一覧
  %section.TweetField
    - @tweets.each do |tweet| 
      %article.PostedItem
        .ArticleHeader
          %ul.More
            %li 
              = icon('fas', 'bars')
              %ul
                %li
                  = link_to '詳細', tweet_path(tweet.id), method: :get
                %li
                  = link_to '編集', edit_tweet_path(tweet.id), method: :get
                %li
                  = link_to '削除', tweet_path(tweet.id), method: :delete
                
        .Picture
          .content_post{style: "background-image: url(#{tweet.image})"}
        .Details 
          = tweet.text 