%main.Index
  %section.TweetField
    %p 
      = @nickname
      さんの投稿一覧

    - @tweets.each do |tweet| 
      %article.PostedItem
        .ArticleHeader
          %ul.More
            %li 
              = icon('fas', 'bars')
              %ul
                %li
                  = link_to '詳細', tweet_path(tweet.id), method: :get
                %li
                  = link_to '編集', edit_tweet_path(tweet.id), method: :get
                %li
                  = link_to '削除', tweet_path(tweet.id), method: :delete
                
        .Picture
          .content_post{style: "background-image: url(#{tweet.image})"}
        .ReactionBtn
          = icon('fas', 'star', class: 'ReactionBtn__good')
        .Details 
          = tweet.user.nickname
          %span<>
          = tweet.text
        .Comments
          %h1 ユーザー詳細ページ
          %h3= @user.email
          %h2 投稿内容
          - @user.posts.each do |post|
            %a{href: "/posts/#{post.id}"}= post.content
            %hr/
          %h3 いいねしている投稿
          - @user.liked_posts.each do |post|
            = post.user.email
            = post.content
          = link_to "ユーザー一覧へ", users_path
          = link_to "ホームへ戻る", posts_path
                    
          

