!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title GuerrillaRadio
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .wrapper
      .Header
        .Header__icon
          = link_to image_tag("logo.png", alt: "顔写真"), root_path
        .Header__search 
          = form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form|
            = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
            = form.submit "検索", class: "search-btn"

        - if user_signed_in?
          .Header__items
            = icon('fas', 'home', class: 'Header__items--icon')
            = link_to new_tweet_path, class: "Header__items--icon" do
              = icon('far', 'plus-square')
            = link_to like_user_path(id: current_user.id) do
              = icon('far', 'star', class: 'Header__items--icon')
          .HeaderRight
            %ul.UserMenu
              %li
                = current_user.nickname
                %ul
                  %li
                    = link_to "マイページ", "/users/#{current_user.id}"
                  %li
                    = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          .Header__items
            = link_to 'ログイン', new_user_session_path, class: "post"
            = link_to '新規登録', new_user_registration_path, class: "post"
        

      = yield 