!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title GuerrillaRadio
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    .wrapper
      .Header
        .Header__icon
          = image_tag "logo.png", alt: "顔写真"
        .Header__search
          %input{ placeholder: '検索する', type: "text"}/
        .Header__items
          = icon('fas', 'home', class: 'Header__items--icon')
          = icon('far', 'plus-square', class: 'Header__items--icon')
          = icon('far', 'star', class: 'Header__items--icon')
          -# <i class="far fa-plus-square"></i>
      = yield